*{
box-sizing:border-box;
}



body{

margin:0;

font-family:
Tahoma,Arial,sans-serif;

background:#f5f6fa;

color:#333;

}



header{

☺
background:
linear-gradient(
135deg,
#b30000,
#ff5555
);


color:white;

text-align:center;

padding:45px 20px;


}



header h1{

font-size:40px;

margin:0;
☺☺

}



header h2{

margin:10px;

}





.dashboard{


display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

padding:25px;


}



.stat{


background:white;

width:180px;

padding:20px;

border-radius:20px;

text-align:center;


box-shadow:
0 10px 25px #ddd;


animation:
float 3s infinite;


}



.stat span{

font-size:35px;

}



.stat h3{

font-size:32px;

margin:5px;

color:#c00000;


}



@keyframes float{


50%{

transform:translateY(-8px);

}


}





.search{


text-align:center;

padding:10px;


}



.search input{


width:80%;

max-width:700px;

padding:15px;

border-radius:30px;

border:1px solid #ddd;

font-size:16px;


}





.title{


margin-left:5%;

color:#b00000;


}




.grid{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(230px,1fr));


gap:25px;


padding:20px 5%;


}




.card{


background:white;

border-radius:20px;

padding:25px;

text-align:center;


box-shadow:

0 10px 25px rgba(0,0,0,.12);


transition:.3s;


animation:
show .5s;


}



.card:hover{


transform:
translateY(-10px);


}




@keyframes show{


from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

}


}



.icon{


font-size:45px;


}



.card h3{


font-size:18px;


min-height:45px;


}



.card p{


color:#777;


}




.download{


display:inline-block;


background:

linear-gradient(
135deg,
#b00000,
#ff5555
);


color:white;


padding:12px 25px;


border-radius:30px;


text-decoration:none;


}



.download:hover{


opacity:.8;


}




footer{


background:#222;

color:white;

text-align:center;

padding:20px;

margin-top:40px;


}




@media(max-width:600px){


header h1{

font-size:28px;

}


.stat{

width:140px;

}



.grid{


grid-template-columns:
1fr;


}


}

.new-badge{
background:red;
color:white;
font-size:12px;
padding:4px 8px;
border-radius:15px;
margin-left:8px;
animation:blink 1s infinite;
}

@keyframes blink{
50%{
opacity:0.3;
}
}