body{

font-family:Tahoma,Arial;
margin:0;
background:#f7f7f7;
color:#333;

}



header{

background:linear-gradient(135deg,#8b0000,#ff3b3b);
color:white;
text-align:center;
padding:40px;

}


.logo{

font-size:50px;
font-weight:bold;

}



.dashboard{

display:flex;
gap:20px;
justify-content:center;
padding:20px;
flex-wrap:wrap;

}



.dashboard div{

background:white;
padding:25px 40px;
border-radius:15px;
box-shadow:0 5px 15px #ccc;
text-align:center;

}



.dashboard b{

font-size:28px;
color:#c00000;

}



.tools{

text-align:center;
padding:10px;

}



input{

width:80%;
padding:15px;
border-radius:30px;
border:1px solid #ccc;

}




main{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:20px;

padding:25px;

}



.card{

background:white;
border-radius:20px;
padding:25px;

box-shadow:
0 5px 20px #ddd;

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card h3{

margin-top:0;

}



.download-btn{

display:inline-block;

background:#c00000;

color:white;

padding:12px 25px;

border-radius:10px;

text-decoration:none;

}



.download-btn:hover{

background:#8b0000;

}



footer{

text-align:center;

padding:20px;

background:#222;

color:white;

}